* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #000;
  color: #fff;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #f47ae4;
}

/* -------------------------------------------- */
/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 60vh;
}

.header img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.card {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 50%;
  background: #fff;
  padding: 30px;
  box-shadow: -10px 10px 20px #999;
}

.card h1 {
  font-size: 20px;
}

.card p {
  margin: 20px 0;
  color: #999;
}

.card button {
  width: 30%;
  margin-left: 70%;
  padding: 10px;
  background: yellow;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}

.content {
  position: relative;
  width: 100%;
  height: 60vh;
  background: #999;
}

.box1,
.box2,
.box3 {
  position: absolute;
  top: 20%;
  width: 200px;
  background: #fff;
  padding: 20px;
  height: 200px;
}

.box1 {
  left: 10%;
  overflow: auto;
}
.box1 img {
  width: 100%;
  height: 20vh;
}
.box2 {
  left: 40%;
}
.box3 {
  right: 10%;
}
