* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999999;
}

.container {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content {
  position: absolute;
  top: 30%;
  left: 20%;
  border: 3px solid #fff;
  padding: 30px;
  color: #fff;
  width: 400px;
  text-align: center;
}

.content h1 {
  margin: 10px 0;
}
.content p {
  margin: 10px 0;
}
.content button {
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  width: 50%;
}

.content button:hover {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.container2 {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.box1,
.box2 {
  position: absolute;
  top: 50%;
  border: 3px solid #fff;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.box1 {
  left: 30%;
}

.box2 {
  right: 30%;
}

.container3 {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.box3,
.box4,
.box5 {
  position: absolute;
  top: 50%;
  border: 3px solid #fff;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.box3 {
  left: 20%;
}

.box4 {
  right: 42%;
}

.box5 {
  right: 20%;
}
