@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#title {
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  display: inline-block;
  width: 500px;
  border: 1px solid #000;
}

.title {
  color: red;
}

.p {
  font-size: 25px;
}
.p1 {
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div {
  width: 200px;
  height: 200px;
}

.box1 {
  background: #000;
  display: none;
}
.box2 {
  background: #003973;
  padding: 50px;
  margin: 10px 0;
  border: 10px #000;
  transition: all 0.5s linear;
}

.box2:hover {
  opacity: 0.5;
}

input {
  padding: 10px;
  outline: none;
  margin: 50px;
}

input:focus {
  border: 1px solid green;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #003973;
}
